/* body {
    background-color: linen;
 }
 h1 {
    color: maroon;
    margin-left: 40px;
 } */

 h1 {
    font-family: arial;
    color: rgb(19, 0, 128);
 }

 .c1 {
    font-family: arial;
 }

 .c2 {
    color: rgb(159, 184, 16);
 }


